@model Blockchain_Thuoc.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-5">Xóa sản phẩm</h4>

        <div class="card mb-4">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.LoHang.TenLoHang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LoHang.TenLoHang)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenSanPham)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenSanPham)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </dt>

                    <dd>
                        <img src=@Html.DisplayFor(model => model.HinhAnh) class="img-responsive" alt="" width="200" height="200" />

                    </dd>


                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>

</main>

